@model LibraryAdministration.Models.DTO.ReaderDTO.ReaderInfoDTO
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Book" asp-action="Index">
            <img src="~/images/logo.png" alt="Library Logo" width="30" class="d-inline-block align-text-top">
            LibraryAdministration
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="Index">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Reader" asp-action="Index">Readers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="TakeBookPage">Take Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="ReturnBookPage">Return Book</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h3>Update Reader Information</h3>

    <form asp-controller="Reader" asp-action="UpdateReader" asp-route-id="@Model.Id">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" type="text" minlength="4" maxlength="20" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" type="text" minlength="4" maxlength="20" class="form-control" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" type="text" minlength="4" maxlength="20" class="form-control" required />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" type="number" minlength="8" maxlength="8" class="form-control" required />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update Reader</button>
    </form>
</div>